.contact__section{
    margin: 0 var(--margin-l);
    color: var(--white-color);
}

.form-input.mensaje > textarea{
    height: 15rem;
}

@media (max-width: 900px) {
    .contact__section{
        margin: 0 var(--margin-m);
    }   
}

@media (max-width: 900px) {
    .contact__section{
        margin: 0 1em;
    }   
}