.hero__section{
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
}

.hero__section::after{
    content: "";
    background-image: url(/src/img/forma-bd-5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.hero{
    display: flex;
    color: #f1f1f1;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--margin-l) var(--margin-l) 0 var(--margin-l);
    flex-wrap: wrap;
}

.hero > img {
    max-width: 35rem;
    flex:2
}

.hero > h2 {
font-family:var(--logo-font);
font-size: 5rem;
flex:1
}

.home-body__section{
    margin: 15rem var(--margin-l) 0 var(--margin-l);
    color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-body__section-text {
line-height: 1.5;
text-align: left;
}

.home-body__section-text > h2{
    font-size: 2.5rem;
    text-align: center;
}

.tea-font{
    font-family:var(--logo-font);
    font-size: 3rem;
}


.home-body__section-text > p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.home-body__section > img{
   width: 25rem;
   max-width: 25rem;
}


.home-body__box{
    margin: var(--margin-l);
    display: flex;
    justify-content: center;
}

.box-text{
    line-height: 1.5;
}

.box-text > p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.box-text > p > a{
    color: var(--primary-color);
}

.box{
    border: 2px solid #f1f1f1;
    border-radius: var(--border-radius);
    padding: var(--margin-m);
    margin: 0 var(--margin-m);
    background-color: var(--menu-color);
    color: #f1f1f1;
}

.box > img{
    width: 10rem;
}


@media (max-width: 1200px) {

    .home-body__section{
    flex-direction: column;
    }

    .home-body__section > img{
    margin-top: var(--margin-m);
    }

    .home-body__box{
        margin: var(--margin-l);
        flex-direction: column;
    }

    .box{
        margin: var(--margin-s) 0;
    }

}


@media (max-width: 900px) {
    .hero{
        padding: var(--margin-m);
    }

    .home-body__section{
        margin: 10rem var(--margin-m) var(--margin-m) var(--margin-m);
    }

    .hero > img {
        max-width: 25rem;
        flex: auto;
    }

    .hero > h2  {
        font-size: 3rem;
        margin: var(--margin-m) 1rem;
        flex: auto;
        }

    .home-body__box{
         margin: var(--margin-m);
    }
    
}
    

@media (max-width: 500px) {

    .hero > h2 {
        font-size: 2.5rem;
    }

    .home-body__section {
        margin: 8rem 1rem 1rem 1rem;
    }

   

    .home-body__section > img{
        width: 20rem;
    }

    .home-body__section-text > p{
        font-size: 1.2rem;
    }

    .home-body__box{
        margin: var(--margin-s);
   }
}

@media (max-width: 400px) {

    .hero{
        padding: 1rem;
        }
    .hero > img {
        max-width: 20rem;
        flex: auto;
    }
}
