.alumno-data{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 1rem auto
}

.alumno-data > div, .alumno-data > h2{
  margin: 0 1rem;
}

.student-img__circle{
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 3px solid var(--primary-color);
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-img__circle > img{ 
  width: 80%;
  height: 80%
}

.student_buttons-flex{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.student_buttons-flex > button{
   width: auto;
}

.add-excercise > .modal__form{
    width: auto;
}

.next-add-exercise{
    margin-top: 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
.next-add-exercise:hover{
     color: var(--primary-color);
     text-decoration: none;
     cursor: pointer;
  }

.last-input__add-excercise{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-excercise > .modal__form > .form-input, .add-excercise > .modal__form > .last-input__add-excercise > .form-input {
    margin: 0 1rem;
} 

.add-excercise > .modal__form > .form-input > p, .add-excercise > .modal__form > .last-input__add-excercise > .form-input > p{
    margin-bottom: 0.5rem;
}

.exercise__section{
    width: 100%;
}

.exercise__section-titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--margin-m);
    background-color: var(--white-color);
    color: var(--menu-color);
    border-radius: var(--border-radius);
}

.exercise__section-titles > h3{
    margin: 0 1rem;
    padding: 0.5rem 0;
}
  

.exercise__section-order-icon{
  font-size: 1.5rem;
  cursor: pointer;
}

.exercise__section-order-icon:hover{
  color: var(--primary-color);
} 
  
.exercise__section-exercise{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: var(--margin-s) var(--margin-m);
    border: 1px solid var(--white-color);
    border-radius: var(--border-radius);
}

.exercise__section-exercise-data{
    color: var(--white-color);
    text-align: left;
    margin: var(--margin-s) 
}

.exercise__section-exercise-data > h3 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.exercise__section-exercise-date{
    color: var(--white-color);
    text-align: left;
    margin: var(--margin-s) 
}

.icon-delete-exercise{
  position: absolute;
  float: right;
  right: 0;
  font-size: 1.5rem;
  min-width: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
  width: 50%;
  margin: -12px 5.5rem;
}

.icon-delete-exercise:hover, .icon-delete-exercisefocus {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    transform-origin: bottom left;
  }

  @keyframes shake {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(0.5deg);
    }
    30% {
      transform: rotate(-0.5deg);
    }
    45% {
      transform: rotate(0.4deg);
    }
    60% {
      transform: rotate(-0.4deg);
    }
    75% {
      transform: rotate(0.2deg);
    }
    85% {
      transform: rotate(-0.2deg);
    }
    92% {
      transform: rotate(0.1deg);
    }
    100% {
      transform: rotate(0);
    }
  }


  @media (max-width: 1200px) {

    .icon-delete-exercise{
        width: 35%;
        margin: -12px 6.5rem;
    }
  }
  
  
  @media (max-width: 900px) {
  
    .icon-delete-exercise{
        width: 0%;
        margin: -12px 3.5rem;
    }
  }
  


@media screen and (max-width: 600px) {

  .exercise__section-titles{
    margin: 0 1rem;
  }
    .exercise__section-exercise {
        margin: var(--margin-s);
    }

    .exercise__section-exercise-data{
        margin: var(--margin-s) 0.5rem
    }

    .exercise__section-exercise-date{
        margin: var(--margin-s) 0.5rem
    }
    .icon-delete-exercise{
      margin: -12px 2.5rem;
  }
}


@media screen and (max-width: 500px) {

  .alumno-data > div, .alumno-data > h2{
    margin: 0 0.5rem;
  }
  .exercise__section-exercise {
      flex-direction: column;
      align-items: center;
  }
  .exercise__section-exercise-data{
    text-align: center;
  }

}







