.add-student-icon{
    color: #1a83ff;
    font-size: 2rem;
    cursor: pointer
}

.add-student-icon:hover{
    color: #f5f5f5;
    font-size: 2rem;
    cursor: pointer
}

.students_section-student{
    width: 100%;
    display: flex;
   justify-content: space-around;
   align-items: center;
   cursor:pointer

}

.students_section-student:hover{
    background-color: #1a83ff;
}

.students_section{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 5rem;
}

.students_section > div{
    flex: 30%;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    margin: 1rem;
    max-width: 30%;
}

.students_section-student > span{
    font-size: 1.5rem;
    color: #f5f5f5;
}

.students_section-student > img{
    padding: 0.5rem 0;
}

.student-img__circle{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #1a83ff;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-img__circle > img{ 
    width: 80%;
    height: 80%

}



@media screen and (max-width: 1120px) {
    .students_section > div{
        max-width: 50%;
        
    }
}

@media screen and (max-width: 600px) {

    .students_section {
       align-items: center;
       justify-content: center;
     }
    .students_section > div{
        max-width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .students_section {
       margin: 2rem;
    }
}




