.options-icon{
    color:var(--white-color);
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    float: right;
    right: 2rem;
    top: -3.5rem;
    z-index: 2;
}

.options-icon:hover{
   color: var(--primary-color);
}

.modal__options-icon{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 position: absolute;
 float: right;
 right: 2rem;
 top: 5.5rem;
 background-color: var(--menu-color);
 width: 16rem;
 border-radius: var(--border-radius);
 z-index: 1;
 padding: 1rem;
}

.add-student-icon{
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer
}

.add-student-icon:hover{
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer
}

.students_section-student{
    width: 100%;
    display: flex;
   justify-content: space-around;
   align-items: center;
   cursor:pointer

}

.students_section-student:hover{
    background-color: var(--primary-color);
}

.students_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--margin-m) var(--margin-l);
}

.students_section > div{
    flex: 30%;
    border: 1px solid var(--white-color);
    border-radius: var(--border-radius);
    margin: var(--margin-s);
    max-width: 30%;
}

.students_section-student > span{
    font-size: 1.5rem;
    color: var(--white-color);
}

.students_section-student > img{
    padding: 0.5rem 0;
}



@media screen and (max-width: 1120px) {
    .students_section > div{
        max-width: 45%;
        
    }
}

@media screen and (max-width: 600px) {

    .students_section {
       align-items: center;
       justify-content: center;
     }
    .students_section > div{
        max-width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .students_section {
       margin: var(--margin-m);
    }
}




