.seconds__option{
    font-weight: bold;
}
.pointer{
    pointer-events: auto;
}
.pointer.none{
pointer-events: none;
}

.exercise{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-m) var(--margin-l);
    flex-wrap: wrap;
}


.exercise-gif{
    max-width: 20rem;
    margin-bottom: var(--margin-m);
    border: 0.1rem solid black;
    border-radius: var(--border-radius);

}

.exercise__configuration{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.progress-bar{
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--white-color);
    margin-bottom: var(--margin-m);
}

.progress-bar__background{
    background-color: var(--primary-color);
    padding: 2.33rem 0;
}

.progress-bar__background > span{
    border-radius: 50%;
    background-color: var(--white-color);
    padding: 1rem;
    color: var(--menu-color);
    font-size: 1.5rem;
    position: absolute;
    top:33.8rem;
    left: 48%;
    width: 4rem;
    height: 4rem;
    align-content: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.exercises__options{
    color: var(--white-color);
    font-size: 18px;
    padding: 0.3rem 0.7rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    background-color: var(--menu-color);
    margin: 0.5rem;
    width: 12rem;
}


.exercises__options:focus-visible{
    border: 2px solid var(--white-color);
    outline: none;
}

@media (max-width: 1245px) {

    .exercise{
        margin: var(--margin-m);
    }

    .progress-bar__background > span{
        left: 47%;
    }
  }

  @media (max-width: 900px) {

    .progress-bar__background > span{
        left: 46%;
    }
  }

  @media (max-width: 600px) {
    .progress-bar__background > span{
        left: 45%;
    }
  }

  @media (max-width: 500px) {
    .progress-bar__background > span{
        left: 44%;
    }
  }

  
  @media (max-width: 400px) {
    .progress-bar__background > span{
        left: 42%;
    }
  }






